<!DOCTYPE html>
<html class="has-background-white-ter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabric EHR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand has-text-white">
        <span class="navbar-item "><strong>FABRIC EHR</strong></span>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href='/logout' class="button is-light">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <section class="hero is-small is-success mb-4">
    <div class="hero-body">
      <p class="title">
        Patient Dashboard
      </p>
      <p class="subtitle">
        Edit Personal Details
      </p>
    </div>
  </section>

    <div class="container mb-6">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
              <li><a href="/patients">Back To Home</a></li>
              <li><a href="/patients/view/:patientId">Details</a></li>
              <li class="is-active"><a href="#" aria-current="page"><%= parsedResponse.patientId %></a></li>
            </ul>
        </nav>
      <section>
          
        <div class="columns is-mobile is-centered">
          <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
            <p class="title is-4">Update Personal Details</p>
            <div class="has-background-white p-5 box">
              <form action="/patients/update/<%= parsedResponse.patientId %>/personal?_method=PATCH" method="POST">
                <div class="field">
                  <label class="label" for="firstName">First Name</label>
                  <div class="control">
                    <input class="input" type="text" name="firstName" id="firstName" value="<%= parsedResponse.firstName %>">
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="lastName">Last Name</label>
                  <div class="control">
                    <input class="input" type="text" name="lastName" id="lastName" value="<%= parsedResponse.lastName %>">
                  </div>  
                </div>
                <div class="field">
                  <label class="label" for="age">Age</label>
                  <div class="control">
                    <input class="input" type="text" name="age" id="age" value="<%= parsedResponse.age %>">
                  </div>  
                </div>
                <div class="field">
                  <label class="label" for="phoneNumber">Contact Number</label>
                  <div class="control">
                    <input class="input" type="text" name="phoneNumber" id="phoneNumber" value="<%= parsedResponse.phoneNumber %>">
                  </div>  
                </div>
                <div class="field">
                    <label class="label" for="emergPhoneNumber">Emergency Contact Number</label>
                    <div class="control">
                      <input class="input" type="text" name="emergPhoneNumber" id="emergPhoneNumber" value="<%= parsedResponse.emergPhoneNumber %>">
                    </div>  
                </div>
                <div class="field">
                    <label class="label" for="bloodGroup">Blood Group</label>
                    <div class="control">
                      <input class="input" type="text" name="bloodGroup" id="bloodGroup" value="<%= parsedResponse.bloodGroup %>">
                    </div>  
                </div>
                <div class="field">
                    <label class="label" for="address">Address</label>
                    <div class="control">
                      <input class="input" type="text" name="address" id="address" value="<%= parsedResponse.address %>">
                    </div>  
                </div>
                <div class="field">
                    <label class="label" for="allergies">Allergies</label>
                    <div class="control">
                      <input class="input" type="text" name="allergies" id="allergies" value="<%= parsedResponse.allergies %>">
                    </div>  
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-success">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </section>

      </div>
      
  </body>
</html>