<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabric EHR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body class="has-navbar-fixed-top has-background-white-ter">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand has-text-white">
          <span class="navbar-item "><strong>FABRIC EHR</strong></span>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href='/logout' class="button is-light">
                  Log Out
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
          <p class="title">
            Patient Dashboard
          </p>
          <p class="subtitle">
            Details
          </p>
        </div>
      </section>
    <div class="container mb-6">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
          <ul>
            <li><a href="/patients">Back To Home</a></li>
            <li class="is-active"><a href="#" aria-current="page"><%= parsedResponse.patientId %></a></li>
          </ul>
        </nav>
        <section>
          <a href="#" class="button is-info">View History</a>
            <div class="tile is-ancestor is-6">
                <div class="tile is-parent">
                    <div class="tile is-child box ">
                        <p class="title">Welcome <%= parsedResponse.firstName %> <%= parsedResponse.lastName %> </p>
                        <p class="subtitle"><%= parsedResponse.patientId %></p>
                        <div class="content">
                            <p class="subtitle">Personal Details</p>
                            <a href="/patients/update/<%= parsedResponse.patientId %>/personal" class="button is-ghost">Update Details</a>
                            <ul>
                                <li><strong>Age: </strong><%= parsedResponse.age %></li>
                                <li><strong>Contact Number: </strong><%= parsedResponse.phoneNumber %></li>
                                <li><strong>Emergency Contact Number: </strong><%= parsedResponse.emergPhoneNumber %></li>
                                <li><strong>Address: </strong><%= parsedResponse.address %></li>
                                <li><strong>Blood Group: </strong><%= parsedResponse.bloodGroup %></li>
                                <li><strong>Allergies: </strong><%= parsedResponse.allergies %></li>
                            </ul>
                            <p class="subtitle">Medical Details</p>
                            <ul>
                                <li><strong>Symptoms: </strong><%= parsedResponse.symptoms %></li>
                                <li><strong>Diagnosis: </strong><%= parsedResponse.diagnosis %></li>
                                <li><strong>Treatment: </strong><%= parsedResponse.treatment %></li>
                                <li><strong>Follow Up: </strong><%= parsedResponse.followUp %></li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Hyperledger Fabric</strong> by <a href="https://wiki.hyperledger.org/display/fabric">Hyperledger Foundation</a>. Hyperledger Project source code files are made available under the Apache License, Version 2.0 (Apache-2.0).
          </p>
        </div>
      </footer>
  </body>
</html>